.navbar {
    background-color: #a8cef7;
}

.nav-link {
    color: black;
    font-family: 'Protest Riot';
    font-size: 1.6rem;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.nav-link:hover {
    color: white;
}